@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #F0EEE960;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
